/**
 *
 * Common Styes for Layout
 *
 */


.browserupgrade{
    color:red;
    padding:30px 20px;
    border: 2px solid #FF6B12;
    margin:2% 5%;
    font-size:20px;
    text-align:center;
    background:#ffe5d6;
    position:relative;
    z-index:200;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}



/**
 *
 * Custom Helper Class
 *
 */

.font-weight-thin{
    font-weight : $font-weight-thin;
}
.font-weight-light{
    font-weight : $font-weight-light;
}
.font-weight-normal{
    font-weight : $font-weight-normal;
}
.font-weight-semibold{
    font-weight : $font-weight-semibold;
}
.font-weight-bold{
    font-weight : $font-weight-bold;
}
.font-weight-exbold{
    font-weight : $font-weight-exbold;
}


.hide{
    display: none !important;
}
.show{
    display: block !important;
}

.underline {
    text-decoration:underline;
}
.div-table{
    display: table;
    width: 100%;
    height: 100%;
}
.div-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.full-screen{
    @include background-size(cover);
}

.content-ul, .content-ol{
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    li{
        color:$font-color-main;
        line-height: $line-height-main;
    }
    &.sub-content-ul{
        margin-left: 1rem;
    }
}
.content-ul{
    list-style-type: disc;
    &.list-style-none{
        list-style: none;
    }

}
.content-ol{
    list-style-type: decimal;
}
.spacer{
    height: 1rem;
}

.relative{
    position: relative;
}
.fixed{
    position: fixed;
}
.absolute{
    position: absolute;
}


.w-10px{
    width: 10px;
}
.w-20px{
    width: 20px;
}
.w-30px{
    width: 30px;
}
.w-40px{
    width: 40px;
}
.w-50px{
    width: 50px;
}
.w-60px{
    width: 60px;
}
.w-70px{
    width: 70px;
}
.w-80px{
    width: 80px;
}
.w-90px{
    width: 90px;
}
.w-100px{
    width: 100px;
}
.w-200px{
    width: 200px;
}
.w-300px{
    width: 300px;
}
.w-400px{
    width: 400px;
}
.w-500px{
    width: 500px;
}


.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}


.main-content{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 400px;
    @include media-breakpoint-up(md) {
        background-color: #fff;
        //margin-top: 2.8rem;
        min-height: calc(100vh - calc(13.55rem + 4.85rem));
    }
    @include media-breakpoint-up(lg) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .main-content-inner{
        position: relative;
        @include media-breakpoint-up(md) {
            background-color: #fff;
            padding: 1rem;
            border-radius: 0.5rem;
            @include box-shadow(0 1px 5px rgba(0,0,0,0.02));
        }
    }
}



i.icon{
    text-align: center;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    &.icon-search{
        background-image: url('#{$image-path}icon-search.svg');
    }
    &.icon-datepicker{
        width: 16px;
        height: 14px;
        background-image: url('#{$image-path}icon-datepicker.svg');
    }
}





/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

.container{
    max-width: 100%;
}

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/
