/**
 *
 * Template Footer
 *
 */

.footer-section {
	.footer-bg {
		background-size: cover;		
		.footer-inner {
			background-color: rgba(251, 102, 7, 0.8);
			.footer-content {
				a,p,h1,h2,h3,h4,h5,h6 {
					color: #fff;
				}
				p {
					font-size: 16px;
				}
				ul {
					li {
						a {
							display: block;
							padding: 0.5rem 0rem;
							text-indent: -4px;
							line-height: 16px;
							font-size: 15px;
							span {
								font-size: 0.4rem;
								height: 1px;
								display: block;
							}
						}
					}
				}
				.social-media-list {
					li {
						a {
							font-size: 30px;
						}
					}
				}				
			}
		}
		.address-info {
			li {
				border-bottom: 1px solid #fff;
				padding-top: 0.5rem;
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					border: none;
				}
				a {
					display: inline-block !important;
				}
			}
		}
	}
}



/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {
	.footer-section {
		.footer-bg {
			background-position-x: 40%;
			.quick-links {
				margin-bottom: 1rem;
				ul {
					padding-left: 1rem;
				}
			}
		}
	}
	

} /*//////////////////////////////////////*/
