/**
 *
 * Forms
 *
 */


fieldset{
    width: 100%;
    margin-top: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba($theme-color-01, 0.4);
    &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
    &.fieldset-normal{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 1rem;
        legend{
            font-size: $font-size-main;
            font-weight: $font-weight-bold;
            margin-bottom: 0.75rem;
            color: #6A6A6A;
        }
        .form-control, .form-control-plaintext{
            border-color: rgba(#bfbfbf, 0.5);
        }
        .custom-select{
            border-color: rgba(#bfbfbf, 0.5);
        }
        .bootstrap-select>.dropdown-toggle{
            border-bottom-color: rgba(#bfbfbf, 0.5);
        }
        .input-group-text{
            border-color: rgba(#bfbfbf, 0.5);
        }
    }
}

legend{
    font-size: $font-size-04;
    font-weight: $font-weight-semibold;
    margin-bottom: 1rem;
    color: $theme-color-01;
    line-height: 1.3;
}

.form-group{
    margin-bottom: 1rem;
}


label{
    display: block;
    color: $form-label-color;
    font-family: $font-main;
    font-size: $font-size-main;
    font-weight: $font-weight-normal;
    margin-bottom: 0.3rem;
    &.error, &.success{
        font-size: $font-size-main;
        margin-top: 0.2rem;
        margin-bottom: 0;
        line-height: 1.3;
    }
    &.error{
        color: red;
    }
    &.success{
        color: $success;
    }
}

.info-label-group{
    margin-bottom: 0.5rem;
}
.info-label{
    color: $theme-color-01;
    margin-bottom: 0.5rem;
}

.col-form-label{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0;
    font-size: $font-size-06;
    line-height: 1.3;
}


.input-group{
    > .form-control, .input-group > .form-control-plaintext,
    > .custom-select, .input-group > .custom-file{
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
    }
}

.input-group-prepend,
.input-group-append{
    .btn{
        //padding: 0.1rem 0.5rem;
    }
}
.input-group-text{
    background-color: transparent;
    color: $form-control-color;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-color: $form-control-border-color;
    font-size: $font-size-main;
    padding: 0;
    min-width: 1rem;
    text-align: center;
    i{
        font-size: $font-size-main;
        color: $form-control-color;
        margin: 0 auto;
    }
    svg{
        fill: $form-control-color;
        margin: 0 auto;
    }
}


.input-group{
    &.input-group-rounded{
        padding-top: 0;
        .input-group-append{
            margin-left: 0;
        }
        .input-group-text{
            background-color: transparent;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            border: 1px solid rgba($form-control-border-color, 0.3);
            border-left: 0;
            padding-left: 0.5rem;
            padding-right: 0.6rem;
            color: $theme-color-01;
            svg{
                height: 0.75rem;
                fill: $theme-color-01;
            }
        }
        .form-control{
            padding-left: 0.6rem;
            padding-right: 0;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
            border: 1px solid rgba($form-control-border-color, 0.3);
            border-right: 0;
        }
    }
    &.input-group-plus-minus{
        .form-control{
            text-align: center;
        }
        .btn{
            padding: 0 0.25rem;
            i{
                width: 1rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                color: #fff;
                background-color: #707070;
                border-radius: 50%;
                font-family: $font-main;
                display: block;
                font-style: normal;
                font-size: $font-size-05;
            }
        }
    }
}


.has-label-animate {
    position: relative;
    margin-bottom: 1rem;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: $form-control-color;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    .label-animate {
        position: absolute;
        width: 100%;
        top: 0.8rem;
        left: 0px;
        font-size: $font-size-main;
        pointer-events: none;
        @include transitionall(0.2s);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        i.ico.ico-info{
            cursor: help;
        }
    }
    .form-control,
    .form-control[readonly]{
        background-color: transparent;
    }
    // input:focus + .label-animate,
    // select:focus + .label-animate,
    // textarea:focus + .label-animate,
    &.has-value .label-animate {
        top: -0.2rem;
        font-size: 0.6rem;
        color: $form-control-ph-color;
    }
    select{
        color: transparent;
    }
    &.has-value{
        select{
            color: $form-control-color;
        }
    }
}


.form-control{
    font-family: $font-main;
    font-weight: $font-weight-normal;
    font-size: $font-size-main;
    color: $form-control-color;
    border-color: $form-control-border-color;
    height: $form-control-height;
    padding-left: $form-control-padding-x;
    padding-right: $form-control-padding-x;
    background-color: transparent;
    @include box-shadow(none);
    @include transitionall(0.3s);
    @include transition(background-image 0s);
    &.form-control-rounded{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-radius: 1.5rem !important;
        border: 1px solid $form-control-border-color-rounded;
        &:focus{
            border-color: rgba($theme-color-01, 0.3);
        }
    }
    &.form-control-lg{
        height: $form-control-lg-height;
    }
    &:focus{
        @include box-shadow(none);
        background-color: transparent;
        border-color: $form-control-border-color;
    }
    &[disabled], &[readonly]{
        background-color: transparent;
        color: $form-control-ph-color;
        &::-webkit-input-placeholder {
            color: rgba($form-control-ph-color, 0.35);
        }
        &:-moz-placeholder {
            color: rgba($form-control-ph-color, 0.35);
        }
        &::-moz-placeholder {
            color: rgba($form-control-ph-color, 0.35);
        }
        &:-ms-input-placeholder {
            color: rgba($form-control-ph-color, 0.35);
        }
        &:focus{
            border-color: $form-control-border-color;
        }
    }
    &::-webkit-input-placeholder {
        color: $form-control-ph-color;
    }
    &:-moz-placeholder {
        color: $form-control-ph-color;
    }
    &::-moz-placeholder {
        color: $form-control-ph-color;
    }
    &:-ms-input-placeholder {
        color: $form-control-ph-color;
    }
}

.form-control-plaintext{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    color: rgba(#231F20 ,0.53);
}


.form-check{
    margin-bottom: 0.25rem;
    .form-check-label{
        line-height: $line-height-main;
        // font-size: $font-size-06;
    }
}
.form-check-input{
    margin-top: 0.2rem;
}

.custom-select{
    font-size: $font-size-main;
    font-weight: $font-weight-normal;
    height: $form-control-height;
    border-color: $form-control-border-color;
    padding-left: $form-control-padding-x;
    padding-right: calc(#{$form-control-padding-x} + 0.5rem);
    background-color: transparent;
    &:focus{
        outline: none;
        @include box-shadow(none);
        border-color: $form-control-border-color;
    }
    &[disabled], &[readonly]{
        background: transparent;
        color: rgba($form-control-ph-color, 0.75);
        padding-left: $form-control-padding-x-disabled;
        padding-right: $form-control-padding-x-disabled;
    }
    &.custom-select-rounded{
        padding-left: 0.6rem;
        border-radius: 1.5rem;
        border: 1px solid $form-control-border-color;
        background-position: right 0.6rem center;
    }
    // option[value=""][disabled]{
    //  color: $form-control-ph-color;
    // }
}
.custom-select:not(.select-rounded){
    background-position: right 0.5rem center;
}

.custom-control{
    min-height: 1rem;
    padding-left: 1.25rem;
    margin-bottom: 0.25rem;
}

.custom-control-label{
    vertical-align: middle;
    line-height: $line-height-main;
    font-size: $font-size-06;
    &:after, &:before{
        top: 0.125rem;
        left: -1.225rem;
        width: 0.75rem;
        height: 0.75rem;
    }
    &:before{
        border-color: #707070;
    }
    i.ico{
        &.ico-info{
            margin-top: 0.05rem;
        }
    }
}

.custom-control-input{
    border-color: #707070;
    &:not(:disabled):active ~ .custom-control-label::before{
        background-color: $theme-color-01;
        border-color: $theme-color-01;
    }
    &:focus ~ .custom-control-label::before{
        box-shadow: none;
    }
    &:focus:not(:checked) ~ .custom-control-label::before{
        border-color: #707070;
    }
    &:disabled:checked ~ .custom-control-label{
        opacity: 0.5;
    }
    &:disabled ~ .custom-control-label::before{
        border-color: #e9ecef;
    }
    &:checked ~ .custom-control-label::before{
        background-color: $theme-color-01;
        border-color: $theme-color-01;
    }
    &:checked ~ .custom-control-label::after{
        //background-size: auto;
    }
}

.custom-radio{
    .custom-control-input{
        &:checked ~ .custom-control-label::after{
            background-image : url('#{$image-path}icon-radio-white-checked.svg');
        }
    }
}

.custom-checkbox{
    .custom-control-label{
        &::before{
            border-radius: 0.15rem;
        }
    }
    .custom-control-input{
        &:checked ~ .custom-control-label::before{
            background-color: $theme-color-01;
            border-color: $theme-color-01;
        }
        &:checked ~ .custom-control-label::after{
            background-image : url('#{$image-path}icon-checkbox-primary-checked.svg');
        }
        &:disabled:checked ~ .custom-control-label::before{
            background-color: $theme-color-01;
            border-color: $theme-color-01;
        }
    }
}


.custom-switch{
    padding-left: 2rem;
    .custom-control-label{
        &::before{
            left: -2rem;
            width: 1.5rem;
        }
        &::after{
            top: 0.25rem;
            left: calc(-2rem + 2px);
            width: calc(0.75rem - 4px);
            height: calc(0.75rem - 4px);
            background-color: $theme-color-01;
        }
    }
    .custom-control-input{
        &:checked ~ .custom-control-label::before{
            background-color: $theme-color-01;
        }
        &:disabled ~ .custom-control-label::after{
            background-color: #adb5bd;
        }
    }
}


.custom-switch-toggle{
    @extend .d-flex;
    label{
        cursor: pointer;
        position: relative;
        z-index: 1;
        margin-bottom: 0;
        color: $theme-color-01;
        font-size: $font-size-06;
        font-weight: $font-weight-normal;
        &:focus{
            outline: none;
        }
        &.on{
            color: $theme-color-01;
            z-index: 0;
            cursor: default;
        }
    }
    >label{
        padding-right: 2rem;
        height: 0.75rem;
        margin-right: -1.5rem;
        margin-bottom:  0.25rem;
        line-height: 1.3;
    }
    .custom-control-label{
        &::before{
            border-color: $theme-color-01 !important;
            background-color: $theme-color-01 !important;
        }
        &::after{
            background-color: #fff;
        }
    }
    .custom-control-input{
        &:focus ~ .custom-control-label::before{
            border-color: $theme-color-01;
            background-color: $theme-color-01;
        }
        &:checked ~ .custom-control-label::before{
            border-color: $theme-color-01;
            background-color: $theme-color-01;
        }
    }
}


.custom-file, .custom-file-input {
    height: $form-control-height;
    line-height: $form-control-height;
    border-radius: 0;
    &:focus{
        @include box-shadow(none);
    }
}
.custom-file-label {
    overflow: hidden;
    padding-left: $form-control-padding-x;
    padding-top: 0;
    padding-bottom: 0;
    height: $form-control-height;
    line-height: $form-control-height;
    font-weight: $font-weight-normal;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: $form-control-border-color;
    color: $form-control-color;
    margin-bottom: 0;
    border-radius: 0;
    &:after {
        content: '';
        padding: 0;
        width: 14px;
        height: $form-control-height;
        line-height: $form-control-height;
        background-color: transparent;
        background-image: url('#{$image-path}icon-attachment.svg');
        background-repeat: no-repeat;
        background-position: center;
        color: $font-color-main;
        border-color: $form-control-border-color;
        margin: -1px -1px 0 0;
    }
}
.custom-file-input{
    &:focus ~ .custom-file-label{
        border-color: $form-control-border-color;
        @include box-shadow(none);
    }
}



.progress{
    height: 0.5rem;
    font-size: 0.5rem;
}




.iti{
    width: 100%;
    .iti__country-list{
        .iti__country {
            font-size: 0.6rem;
        }
    }
    .iti__selected-flag{
        &:focus{
            outline: none;
        }
    }
    input{
        @include transition(padding 0s);
    }
}
.iti__flag{
    box-shadow: none;
}
.iti--allow-dropdown{
    .iti__flag-container:hover{
        .iti__selected-flag{
            background-color: transparent;
        }
    }
}
.iti__flag-container{
    padding: 0;
}
.iti--separate-dial-code{
    .iti__selected-flag{
        background-color: transparent;
    }
}
.iti__selected-flag{
    padding-left: 0;
    padding-right: 0;
}




.upload-element{
    &:hover{
        .choose-file{
            opacity: 1;
        }
    }
    &.has-image{
        .upload-image-icons{
            .nav{
                .nav-item{
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        display: block;
                    }
                }
            }
        }
    }
    input[type="file"]{
        display: none;
    }
}
.upload-image{
    position: relative;
    cursor: pointer;
    background: #d1d3d4;
    &:hover{
        &:after, .upload-image-icons{
            opacity: 1;
        }
    }
    &:after{
        opacity: 0;
        content: '';
        position: absolute;
        z-index: 1010;
        top: 0.2rem;
        left: 0.2rem;
        right: 0.2rem;
        bottom: 0.2rem;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        @include transitionall(0.3s);
    }
    img{

    }
}
.upload-image-icons{
    opacity: 0;
    position: absolute;
    z-index: 1020;
    top: 50%;
    left: 50%;
    margin: -0.8rem 0 0 -0.8rem;
    @include transitionall(0.3s);
    .nav{
        .nav-item{
            &:first-child{
                display: block;
            }
            &:last-child{
                display: none;
            }
        }
        .nav-link{
            padding: 0;
            margin: 0;
            color: #414141;
            i{
                width: 1.6rem;
                height: 1.6rem;
                line-height: 1.6rem;
                border-radius: 50%;
                background-color: #fff;
                @include box-shadow(0 0 5px rgba(0,0,0,0.1));
            }
        }
    }
}

#upload-modal{
    .modal-dialog {
        @include media-breakpoint-up(xs) {
            max-width: 444px;
            margin-top: 10%;
        }
    }
}


.bootstrap-select{
    &.show{
        >.dropdown-toggle{
            &:focus{
                @include box-shadow(none);
            }
        }
    }
    >.dropdown-toggle{
        &:focus{
            outline: none !important;
            @include box-shadow(none);
        }
        &:not(:disabled):not(.disabled):active, &:hover, &:focus{

        }
        &::after{
            display: none;
        }
        &.bs-placeholder{
            &, &:hover, &:focus, &:active{
                color: $form-control-color;
            }
        }
    }
}

