/**
 *
 * Template Header
 *
 */

#header{
    .main-logo {
        img {
            width: 120px;
        }        
    }
    .menu-icon {
        .menu-txt {
            font-size: 1rem;
        }
    }
    .nav-link{
        font-family: 'Saira', Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #fb6607;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;   
        letter-spacing: 1px; 
        .submenu-down-arrow {
            float: right;
            padding: 3px 0 0 5px;
            font-size: 20px;
        }
    }
    .nav-link.active{
        color: #cd171f !important;        
    }
    .nav-item {
        .dropdown-toggle::after {
            display: none;
        }
        .dropdown-menu {
            padding: 0;
            border: none;
            border-radius: 0;
            @include transitionall(0.2s);
            .dropdown-item {
                @include transitionall(0.2s);
                color: #fb6607;
                font-size: 0.75rem;
                padding: 0.5rem;
                &:hover {
                    background-color: #fb6607; 
                    color: #fff;
                }
            }            
        }
    }
}

.gene-search {
    * {
        color: #fb6607; 
    }
    .gene-search-bar {
        border: none;
        background-color: #eeeeee;
        padding: 0.4rem 0;
        margin-top: 0.6rem;
        border-radius: 5px;
        text-indent: 10px;
        width: 0px;
        &:focus {
            outline: #fb6607;

        }
    }
    .gene-search-btn {
        border: none;
        padding: 0.3rem;
        margin-top: 0.4rem;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
}

// .gene-search {
//     .seach-bar {
//         display: none;
//         right: -10px;
//         z-index: 10;
//         width: 250px;
//         .search-input {
//             font-size: 0.75rem;
//             border-right: none !important;
//             border: 1px solid #fb6607;
//         }
//         .input-group-text {
//             background-color: fff;
//             border: none;
//             color: #fb6607;
//             border-radius: 5px;
//             &:hover {
//                 color: #fff;
//                 background-color: #fb6607;
//             }
//             a {
//                 cursor: pointer;
//             }
//         }
//     }
// }



// .more-menu-wr {
//     position: fixed;
//     width: 260px;
//     height: 100%;
//     top: 0;
//     left: -260px;
//     z-index: 100;
//     background-color: #fff;
//     z-index: 200;
//     @include transition(left .4s cubic-bezier(0.820, 0.085, 0.395, 0.895));

//     &.open{
//         left: 0;
//     }

//     .link-wr{
//         .link{
//             color: #000;
//             font-size: 0.7rem;

//             &.active{
//                 color: #cd171f;
//                 font-weight: 600;
//             }
//         }
//     }

//     .language-wr{
//         label{
//             font-size: 0.7rem;
//         }
//     }
// }

// .open-more-overlay{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,0.5);
//     visibility: hidden;
//     z-index: 150;
//     @include transitionall(0.3s);

//     &.show{
//         visibility: visible;
//     }
// }

// .download-app-wr {
//     height: 90px;
//     background-color: #000;
//     @include transition(margin-top 0.5s ease);
//     img {
//         height: 62px;
//     }
//     .label-txt{
//         color: #ccc;
//     }
//     &.closed {
//         margin-top: -90px;
//     }
//     @include media-breakpoint-down(xs) {
//         img {
//             height: 70px;
//         }    
//         h3 {
//             font-size: 0.85rem;
//         }
//     }
// }
 



/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

    #header{
        .nav{
            border-top: 0;
        }
        &.sticky{
            position: relative;
            .header-search{
                display: block !important;
            }
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

   

    #header{
        .nav{
            border-top: 0;
            .navbar-nav {
                border-top: 1px solid #e7e7e7;
                padding-bottom: 0.65rem;
            }
        }
        &.sticky{
            position: relative;
            .header-search{
                display: block !important;
            }
        }
        .main-logo {
            img {
                width: 120px;
            }        
        }
        .menu-icon {
            .menu-txt {
                font-size: 1rem;
            }
        }
        .nav-link{
            padding: 0.75rem 1rem; 
            border-bottom: 1px solid #e7e7e7;
            padding: 0.65rem 1.2rem !important;
        }

        .mobile-nav-arrow {
            font-size: 18px;
        }
    }

    .navbar-toggler{
        float: left;
        margin-top: 0.5rem;
    }

    .navbar-brand{
        float: left;
        margin-left: 0;
        margin-top: 0.4rem;
        img{
            // height: $form-control-height !important;
            height: 58px;
            &.logo-default{
                display: none !important;
            }
            &.logo-white{
                display: block !important;
            }
        }
    }

    .header-right-links{
        position: absolute;
        right: 0;
        top: -1.85rem;
    }

    .header-search{
        position: relative;
        // &:before{
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     height: $form-control-height;
        //     width: 100%;
        //     background-color: #fff;
        // }
        .header-search-inner{
            padding-left: 0;
            padding-right: 0;
        }
        .navbar-form{
            display: block;
            margin-top: 0.4rem;
            .input-group{
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 0.4rem;
                width: calc(100% - 30px);
            }
            .form-control{
                border-color: #fff;
                background-color: #fff;
                &::-webkit-input-placeholder {
                    color: rgba(0,0,0,0.6);
                }
                &:-moz-placeholder {
                    color: rgba(0,0,0,0.6);
                }
                &::-moz-placeholder {
                    color: rgba(0,0,0,0.6);
                }
                &:-ms-input-placeholder {
                    color: rgba(0,0,0,0.6);
                }
            }
        }
        .btn{
            &.btn-search, &.btn-filter{
                border-color: #f7f7f7;
                background: #f7f7f7;
            }
        }
        .bootstrap-select{
            width: 100% !important;
            margin-right: 0;
            >.dropdown-toggle{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
                border-bottom: 0;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                i{
                    margin-right: 0.25rem;
                }
            }
            .dropdown-menu {
                min-width: 10rem;
                // margin-top: 0;
                border-radius: 0.15rem;

                li{
                    &:first-child{
                        position: absolute;
                        left: -9999px;
                        top: -9999px;
                        opacity: 0;
                    }
                    .dropdown-item{
                        font-size: $font-size-main;
                        padding: 0.6rem 0.75rem;
                        background-color: #fff;
                        &:hover, &:focus{
                            background-color: #f7f7f7;
                        }
                        &.active{
                            background-color: $theme-color-01;
                            &:hover, &:focus{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    #header {
        .main-logo img {
            width: auto;
        }
        .mobile-menu-btn {
            *{
                color: #fb6607;
            }
            border: none;            
            &:focus {
                outline: none;
            }

        }
    }

    .search-section {
        margin-left: auto;
        .gene-search-btn {
            font-size: 25px;
            font-weight: 100;
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/

