/**
 *
 * Preloader
 *
 */

.preloader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1080;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.8);
    span{
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
        height: 50px;
        width: 50px;
        border: 3px solid rgba($theme-color-01, 0.5);
        border-top: 3px solid rgba($theme-color-01, 0.9);
        border-radius: 50%;
        background: none;
        animation: spin 0.8s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
