/**
 *
 * Common for all Pages
 *
 */

 .inner-page-banner {
    background-size: cover;
    height: 300px;    
    .inner-page-banner-bg {
        background-color: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        .inner-banner-content {
            * {
                color: #fff;
            }
            h1 {
                font-size: 2rem;
            }
            .breadcrumb-nav {
                display: inline-block !important;    
                .breadcrumb {
                    background-color: transparent;     
                    .breadcrumb-item + .breadcrumb-item::before {
                        display: inline-block;
                        padding-right: 0.5rem;
                        color: #fff;
                        content: "\203A";
                    }           
                }
            }            
        } 
        .move-down {
            position: absolute;
            cursor: pointer;
            color: #fff;
            font-size: 2rem;
            bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            animation: slide-bottom 1.6s infinite;
        }       
    }
 }


 .page-section {
     padding-bottom: 3rem;
 }

.gene-btn {
    background-color: #fb6607;
    color: #fff !important;
    padding: 0.75rem 1rem;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    font-family: $font-01;    
    &:hover{
        color: #fff;
        background-color: #fb8307;
    }
    &:disabled {
        background-color: #fb8307;
        color: #fff;
    }
}

.gene-btn-sq {
    background-color: #fb6607;
    color: #fff !important;
    padding: 0.75rem 1rem;
    border-radius: 7px;
    text-transform: capitalize;
    border: none;
    font-family: $font-01;
    font-size: 0.75rem;
    border-radius: 0;
    @include transitionall(0.3s);
    &:hover{
        color: #fff;
        background-color: #fb8307;
    }
    &:disabled {
        background-color: #fb8307;
        color: #fff;
    }
}

.gene-btn-lg {
    background-color: #fb6607;
    color: #fff !important;
    padding: 0.75rem 2.2rem;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    font-family: $font-01;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover{
        color: #fff;
        background-color: #fb8307;
    }
}

.see-more-btn-wt {
    color: #fb6607 !important;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-01;
    font-size: 14px;
    letter-spacing: 0px !important;
    @include transitionall(0.2s);
    &:hover {
        box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
    }
}

.no-padding {
    padding: 0 !important;
}

// .has-label-animation {
//     position: relative;
//     .animate-label, input {

//     }

//     input:focus ~ .animate-label {
//         top: -8px;
//         left: 10px;
//         font-size: 0.7rem;
//         opacity: 1;
//         background-color: #fff;
//         @include transitionall(0.2s);
//         padding: 0.1rem 0.5rem;
//         // border: 1px solid #a7a7a7;
//     }
    

//     .animate-label {
//         position: absolute;
//         pointer-events: none;
//         left: 20px;
//         top: 22px;
//         transition: 0.2s ease all;
//         color: #6c757d;
//     } 

//     input::placeholder {
//         opacity: 0;
//     }          
//     input:-ms-input-placeholder {
//         opacity: 0;
//     }        
//     input::-ms-input-placeholder {
//         opacity: 0;
//     }
    
// }

.theme-description {
    color: #6a6a6a;
    line-height: 26px;
    letter-spacing: 1px;
}

.theme-description-nlsp {
    color: #4b4b4b;
    line-height: 26px;
}

.menu-area {
    background-color: #fff;
    height: 100%;
    .navbar {
        padding: 0;
    }
    .mobile-nav {    
        padding: 0.5rem;    
        .m-nav-item {
            color: #fb8307;
            display: block;
            font-size: 1rem;
            padding: 0.6rem 0rem 0.6rem 0.6rem;
            margin-bottom: 0.4rem;
            &:hover {
                background-color: rgb(248, 249, 250);
            }
        }
        .dropdown-menu {
            border: none;
            font-size: 1rem;
            padding: 0 0 0 0.5rem;
            .m-nav-item {
                color: #d4700b;
            }
        }
    }
}

.social-media-list {
    margin: 0;
    padding: 0 0 0 0.5rem;
    li {
        float: left;        
        a {
            font-size: 1.5rem;
            display: inline-block;
            margin-right: 0.5rem;
            width: 30px;
        }
    }
}

.fb-theme {
    color: #3b5998 !important;
}

.linkedin-theme {
    color: #0e76a8 !important;
}

.mobile-collapse-btn {
    padding: 0.5rem 1.2rem;
    width: 100%;
    border: none;
    text-align: left;
    background-color: #fec018;    
    h3 {
        margin: 0;
        color: #fff;
        span {
            font-size: 30px;
            line-height: 20px;
            padding-top: 4px;        
        }
    }
    &:focus {
        outline: none;
    }
}


.special-note {
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    color: #FF9800;
    border: 2px solid #FF9800;
    border-radius: 4px;
    @include transitionall(0.3s);
    &:hover {
        background-color: #FF9800;
        color: #fff;
    }
}

.home-txt-sm {
    font-size: 15px !important;
    letter-spacing: 1px;
    font-weight: 400;
}

.letter-space {
    letter-spacing: 1px;
}


 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    .inner-page-banner {
        height: 240px;
        background-position: 48%;
    }

    .gene-btn-lg {
        padding: 1rem 2.2rem;
        display: inline-block;
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

    .no-margin-xs {
        margin: 0 !important;
    }

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {
    

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
