/**
 *
 * Home Page
 *
 */
.home-slider {
    .item {
        .slider-img {
            width: 100%;
            height: 566px;        
            background-position: 50% 50%;
            background-size: cover;     
        }
        .home-slider-bg {
            // background-color: rgba(255, 255, 255, 0.4);
            background: linear-gradient(to right, rgba(255, 255, 255, 0.8) , rgba(255, 255, 255, 0.2));
            width: 100%;
            height: 100%;
            .main-slider-text {
                padding-top: 5.5rem;
                * {
                    color: #fb6600;
                }
                span {
                  border-bottom: 2px solid #fec018;      
                  font-size: 16px;
                  letter-spacing: 2px;
                }
                h1 {
                    font-size: 50px;
                    line-height: 3rem;
                    margin-top: 1rem;
                }
                p {
                    font-size: 19px;
                    font-weight: 400;
                }
            }
        }
    }
}

.homepage-main-content {
    padding-bottom: 0 !important;
}

.home-text-main {
    * {
        color: #fb6607;
    }
    h1 {
        font-weight: 400;
        font-size: 35px;
        margin-bottom: 12px;
    }
    p {
        font-size: 18px;
        line-height: 1.6rem;
    }
}

.service-bg-color {
    background-color: rgba(255, 206, 0, 0.07);
}

.services {
    .service-item {
        position: relative;
        .service-item-inner {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            .service-info {
                position: absolute;
                text-align: center;
                width: 100%;
                height: auto;                
                // background-color: rgba(0, 0, 0, 0.7);
                background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
                bottom: 0;   
                @include transitionall(0.2s) ;                          
                h3 {
                    color: #fff;
                    width: 100%;   
                    line-height: 28px;    
                    font-size: 1.2rem;             
                }
                .read-more-btn {
                    display: none;
                }
            } 
            &:hover  {
                .service-info {
                    padding-top: 20%;
                    height: 100%;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                    animation: growIn 0.3s; 
                }
                .read-more-btn {
                    display: inline-block;
                }
            }   
            .introducing-service {
                position: absolute;
                top: 0; 
                left: 0;
                background-color: #fec018;
                padding: 0.65rem 1.5rem;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: $font-01;
                color: #fff;
            }            
        }        
    }
}

.science {
    padding-top: 2rem;
    .science-parent {
        position: relative;
        .collapse-btn {
            position: absolute;
            padding: 2.5rem 0.5rem 1.5rem 2rem;
            top: 0;
            background-color: transparent;
            z-index: 1;
        }
    }
    .science-item {
        background-size: cover;
        position: relative;      
        height: 410px;          
        .science-content {
            position: absolute;
            padding: 1.5rem 0.5rem 1.5rem 1.5rem;
            width: 100%;
            height: 100%;      
            background-color: rgba(251, 102, 7, 0.9);
            display: block;
            * {
                color: #fff;
                letter-spacing: 1px;                
            }
            ul {
                padding:  3.5rem 0 0 1.5rem;
                li {
                    margin-bottom: 0.75rem;        
                    position: relative;
                    &::before {
                        content: "-";
                        position: absolute;
                        text-indent: 0px;
                        left: -12px;
                        top: -1px;
                        font-size: 20px;
                        font-weight: 500;
                      }
                      p {
                        font-weight: 100;
                      }
                }
            }
            .see-more-btn {                 
                position: absolute;
                margin-top: 2rem;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;           
            }
        }
        .yellow-bg {
            background-color: rgba(254, 192, 24, 0.9) !important;
        }
    }
}


.client-bg-color {
    background-color: rgba(255, 206, 0, 0.1);
}
.clients {
    .owl-dots {
        text-align: center;
        .owl-dot {
            &.active {
                span {
                    background: #fb8307;
                }                
            }
            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                background: #D6D6D6;
                display: block;
                -webkit-backface-visibility: visible;
                transition: opacity .2s ease;
                border-radius: 30px;
            }
        }
    }
    .owl-nav {
        display: none;
    }
}

.vision-mission {
        .vm-content { 
            background-size: cover;      
            height: 560px;                 
            .vm-content-bg {
                text-align: center;
                padding: 1rem 2rem 2rem;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                .vm-details {
                * {
                    color: #fff;
                    font-family: $font-01;
                }
                h3 {
                    font-size: 1.2rem;
                }
                p {
                    font-weight: bold;
                    letter-spacing: 1.5px;
                    font-size: 0.7rem;
                }
                .vm-img {
                    svg {
                        width: 65px;
                    }
                }
            }
        }
    }
}

.gene-collapse-btn {
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    background-color: #fec018;
    padding: 0.5rem;
    * {
        color: #fff;
    }
    &:focus {
        outline: none;
    }
    h3 {
        font-size: 20px;
        letter-spacing: 1px;
    }
    span {
        display: none;        
    }
}




.collapse-btn {
}
.collapse-btn div {
    width:100%;
}
.collapse-btn .header {
    cursor: pointer;
}
.collapse-btn .content {
    display: none;
}

 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

    .home-slider {
        .item {
            .slider-img {
                background-position: 55% 0;             
            }
        }
    }

    
    .science {
        padding-top: 2rem;
        .science-parent {
            .collapse-btn {
                padding: 1rem 1rem 0 1rem;
                top: 0;
                h3 {
                    line-height: 1.2rem;
                }
            }
        }
        .science-item { 
            height: 420px;        
            .science-content {
                ul {
                    padding-top: 2rem;
                    li {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {

    .home-slider {
        .item {
            .slider-img {
                width: 100%;
                height: 251px;
                background-position: 38% 0%;
                background-size: cover;
                background-repeat: no-repeat;          
            }
            .home-slider-bg {
                background: linear-gradient(to right, rgba(255, 255, 255, 0.8) , rgba(255, 255, 255, 0.4));
                .main-slider-text {
                    padding-top: 20% !important;   
                    span {
                        font-size: 8px;
                    }            
                    h1 {
                        font-size: 25px !important;
                        line-height: 32px !important; 
                        margin-bottom: 0;
                    }
                    p {
                        margin-top: 0.5rem;
                        font-size: 10px !important;
                        line-height: 15px !important; 
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .home-text-main {
        * {
            color: #fb6607;
        }
        h1 {
            font-size: 21px;
            margin-bottom: 12px;
        }
        p {
            font-size: 15px;
            line-height: 27px;
        }
    }

    .service-bg-color {
        background-color: rgba(251, 102, 0, 0.1);        
    }

    .science {
        padding-top: 0;
        .science-parent {
            position: relative;
            .collapse-btn {
                position: static;
                padding: 0.85rem 0.5rem 0.85rem 1rem;;
                top: 0;
                background-color: #fec018;
                z-index: 1;
                border-radius: 5px;
            }
        }
        .science-item {
            background-size: cover;
            position: relative;      
            max-height: 300px;          
            .science-content {
                position: absolute;
                padding: 0 1rem 1rem 1rem;
                width: 100%;
                height: 100%;      
                background-color: #fec018;
                display: block;
                top: -3px;
                border-radius: 0 0 5px 5px;
                * {
                    color: #fff;
                }
                ul {
                    padding: 0 0 0 10px;
                    li {
                        p {
                            font-size: 0.88rem;
                        }
                    }
                }
                .see-more-btn {                    
                    position: absolute;
                    margin-top: 2rem; 
                    bottom: 0;
                }
            }
            .yellow-bg {
                background-color: #fec018 !important;
            }
        }
    }

    .vision-mission {
        .vm-content { 
            background-size: cover;      
            height: auto;       
            background-position: 18% 0%;          
            .vm-content-bg {
                text-align: center;
                padding: 1rem 0.5rem;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                .vm-details {
                * {
                    color: #fff;
                    font-family: $font-01;
                }
                h3 {
                    font-size: 20px;
                }
                p {
                    font-weight: bold;
                    letter-spacing: 1.5px;
                    font-size: 15px;
                }
                .vm-img {
                    svg {
                        width: 50px;
                    }
                }
            }
        }
    }
}

    .client-bg-color {
        background-color: rgba(251, 102, 0, 0.1);
    }

    .gene-collapse-btn {
        span {
            padding: 0 6px 0 0;
            line-height: 13px;
            font-size: 26px;
            height: 21px;
            display: block;
        }
    }

    .dna-img {
        width: 46px;
    }


} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

    .services {
        .service-item {
            position: relative;
            .service-item-inner {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                .service-info {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    height: auto;
                    // background-color: rgba(0, 0, 0, 0.7);
                    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
                    bottom: 0;   
                    @include transitionall(0.2s);                         
                    h3 {
                        color: #fff;
                        width: 100%;   
                        line-height: 28px;                 
                    }
                    .read-more-btn {
                        display: none;
                    }
                } 
                &:hover  {
                    .service-info {
                        padding-top: 20%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                        animation: growIn 0.3s; 
                    }
                    .read-more-btn {
                        display: inline-block;
                    }
                }   
                .introducing-service {
                    position: absolute;
                    left: 0;
                    background-color: #fec018;
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family: $font-01;
                    color: #fff;
                }            
            }        
        }
    }

    .services {
        .service-item {
            .service-item-inner {
                .service-info {  
                    padding-top: 20% !important;                        
                    h3 {
                        font-size: 14px; 
                        line-height: 18px;           
                    }
                    .read-more-btn {
                        font-size: 12px;
                        padding: 0.3rem 0.5rem;
                        border-radius: 3px;
                    }
                }           
            }        
        }
    }

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

    .home-slider {
        .item {
            .slider-img {    

            }
            .home-slider-bg {
                .main-slider-text {
                    padding-top: 10% !important;
                }
            }
        }
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {


} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/

@media (max-width: 380px) {

    .home-slider {
        .item {
            .slider-img {    

            }
            .home-slider-bg {
                .main-slider-text {
                    h1 {
                        -webkit-text-size-adjust:none;
                    }
                }
            }
        }
    }

    .services {
        .service-item {
            .service-item-inner {
                .service-info {    
                    padding-top: 25% !important;                          
                    h3 {
                        font-size: 8px; 
                        line-height: 8px;           
                    }
                    .read-more-btn {
                        font-size: 10px;
                        padding: 0.3rem 0.5rem;
                    }
                }           
            } 
            .introducing-service {
                font-size: 9px !important;
                padding: 7px 21px;
            }       
        }
    }

} /*//////////////////////////////////////*/




