/**
 *
 * Inner page styles
 *
 */

 /* Our Team Page*/
.our-team {
    .team-member-info {
        .team-member-title {            
            padding-left: 1rem;
            position: relative;
            &::before {
                content: '';
                background-color: #fb6607;
                position: absolute;
                width: 3px;
                height: 75%;
                top: 6px;
                left: 0px;
            }
            * {
                margin: 0;
                color: #6a6a6a;
            }
        }
    }
}


/* Contact us page*/
.contact-type {
    .contac-type-icon {
        svg {
            width: 55px;
        }

    }
    .contac-type-info {
        padding-left: 1rem;
        h4 {
            margin: 0;
            color: #535353;
        }

        p {
            margin: 0;
            text-transform: uppercase;
            padding-bottom: 0.2rem;
            font-size: 0.65rem;
            color: #535353;
            border-bottom: 2px solid #a7a7a7;
            display: inline-block; 
            letter-spacing: 1px;       
        }
        a {
            color: #535353;
            font-family: $font-01;
            letter-spacing: 1px;
            text-transform: lowercase;
        }
    }
}

.register-with-us {
    h3 {
        font-size: 1.6rem;
        letter-spacing: 1px;
    }
    input {
        font-size: 0.8rem;
        padding: 0.75rem 1rem;
        height: 60px;
        border: 2px solid #a7a7a7;
        &:focus {
            font-size: 0.8rem;
            padding: 0.75rem 1rem;
            height: 60px;
            border: 2px solid #a7a7a7;
        }
    }
    textarea  {
        font-size: 0.8rem;
        padding: 0.75rem 1rem;
        border: 2px solid #a7a7a7;
        &:focus {
            font-size: 0.8rem;
            padding: 0.75rem 1rem;
            border: 2px solid #a7a7a7;
        }
    }
    input[type=checkbox]{
        height: auto;
        margin-top: 0;
        opacity: 0;
   }
   .form-check-label {
       margin: 0 0 0 10px;
   }

   /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 20px;
    left: 0;
    height: 22px;
    width: 22px;
    // background-color: rgb(187, 187, 187);
    border-radius: 3px;
    border: 2px solid #bbb;
  }
  /* On mouse-over, add a grey background color */
    input ~ .checkmark {
    // background-color: rgb(187, 187, 187);
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: rgb(104, 104, 104);
    border: 2px solid transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  .form-check:hover input ~ .checkmark {
    background-color: rgb(104, 104, 104);;
  }
  
  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


}


/* profile page */
.profile-vm {
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
    * {
        color: #fff;
    }
    .profile-vm-bg {
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        .vm-img {
            svg {
                width: 75px;
            }            
        }
        .vm-txt{
            p {
                text-align: center;
                max-width: 350px;
                margin: 0 auto;
                font-weight: 100;
            }           
        }
    }
}


// Our Tests Page
.gene-tests {
    h4 {
        color: #535353;
    }
    .test-step {
        li {
            .step-tag {
                display: inline-block;
                border-bottom: 1px solid #ccc;
                width: 100%;
                position: relative;
                padding: 0.3rem 0;
                font-family: 'Saira', Helvetica, sans-serif;
                font-weight: bold;
                &:before {
                    content: '';
                    background-color: #fb6607;
                    position: absolute;
                    height: 2px;
                    width: 20%;
                    bottom: -1px;
                    left: 0px;

                }
            }
        }            
    }
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 30%;
}

ul.tabs li {
	float: none;
	margin: 0;
	cursor: pointer;
    padding: 1rem 0.5rem 1rem 0.75rem;
	line-height: 20px;
	background-color: #ffefe5;
	color: #535353;
	overflow: hidden;
    position: relative;    
    margin-bottom:2px;   
}



ul.tabs li:hover {
    color: #fb6607;
    &::before {
        content: '';
        background-color: #fb6607;
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: 0px;
    }
}

ul.tabs li.active {
	background-color: #fff;
	color: #333;
    border-bottom: 1px solid #fff;
    background-color: #ffefe5;
	color: #fb6607;
    display: block;
    &::before {
        content: '';
        background-color: #fb6607;
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: 0px;
    }
}

.tab_container {
	border-top: none;
	float: right;
	width: 70%;
	background: #fff;
    overflow: auto;
    // clear: both;
    h3 {
        font-size: 1.2rem;
    }
    ul {
        padding-left: 1rem;
        li {
            position: relative;
            &::before {
                position: absolute;
                // content: "-";
                text-indent: -5px;
                left: -5px;
            }
        }
    }
}

.tab_content {
    padding: 20px;
    padding-top: 0;
	display: none;
}

.tab_drawer_heading { display: none; }

// @media screen and (max-width: 767px) {
// 	.tabs {
// 		display: none;
//     }
    
//     .tab_container {
//         float: left;
//         width: 100%;
//     }
//     ul.tabs {
//         float: left;
//         width: 100%;
//     }
// 	.tab_drawer_heading {
// 		background-color: #ffefe5;
// 		color: #535353;
// 		margin: 0;
// 		padding: 10px 20px;
// 		display: block;
// 		cursor: pointer;
// 		-webkit-touch-callout: none;
// 		-webkit-user-select: none;
// 		-khtml-user-select: none;
// 		-moz-user-select: none;
// 		-ms-user-select: none;
//         user-select: none;
//         margin-bottom: 0.5rem;
// 	}
// 	.d_active {
// 		background-color: #ffefe5;
// 		color: #fb6607 !important;
// 	}
// }


 
/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {
    
    // Our Tests tab responsive
    ul.tabs {
        width: 100%;
    }

    .tab_container {
        margin-top: 2rem;
        width: 100%;
    }

    .tab_content {
        padding: 10px;
    }

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {
    .profile-vm {
        height: auto;
        .profile-vm-bg {
            padding-bottom: 2rem;
        }
    }

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
