/**
 *
 * Common for all Pages
 *
 */

.latest_post_widget{
  .same-box{
    border-top: 1px solid #dee2e6;
  }
  .small-text{
    .catagry{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #828282;
    }
    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      color: #000000;
    }
    .discreption{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #4a4a4a;
    }
    .date-time{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #d8d8d8;
    }
  }
  .content{
    .catagry{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #828282;
    }
    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 115%;
      letter-spacing: 0.005em;
      text-transform: capitalize;
      color: #000000;
    }
    .discreption{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #4A4A4A;
    }
    .date-time{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #BDBDBD;
    }
  }
}

.list-widget{
  .content{
    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      color: #000000;
      a {
        font-weight: normal !important;
        color: red;
      }
    }
    .discreption{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #828282;
      margin-bottom: 8px;
    }
    .date-time{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #BDBDBD;
    }
  }
  .thumb-image {
    min-width: 150px;
    @include media-breakpoint-down(xs) {
      min-width: 115px;
    }
    // background-color: #dddddd47;
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
    img {
      width: 100%;
    }
  }
  .see_more {
      color: #2F80ED;
      font-size: 16px;
      line-height: 27px;
      i{
      font-size: 17px;
      line-height: 1;
      margin-left: 7px;
      vertical-align: text-bottom;
      }
  }
}

.grid-list-widget{
      .see_more {
        color: #2F80ED;
        font-size: 16px;
        line-height: 27px;
        i{
        font-size: 17px;
        line-height: 1;
        margin-left: 7px;
        vertical-align: text-bottom;
        }
    }
    h1{
      line-height: 1.2;
    }
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;
        color: #000000;
        
        
    }
    h2{
      line-height: 1.2;
    }
    .time-data{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #BDBDBD;
    }
    .small-list-news {
        border-bottom: solid 1px #d1d0d0;
        padding-bottom: 6px;
        margin-bottom: 18px;
    }
}

.two-colum-list-widget{
    h2{
      line-height: 1.2;
    }
    .time-data{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #BDBDBD;
    }
    .see_more {
        color: #2F80ED;
        font-size: 16px;
        line-height: 27px;
        i{
        font-size: 17px;
        line-height: 1;
        margin-left: 7px;
        vertical-align: text-bottom;
        }
    }
    .categry{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #BDBDBD;
        margin-bottom: 0px;
    }
    .date-time{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #BDBDBD;
    }
    .content {
        margin-left: 15px;
    }
    .thumb-image {
      max-width: 100px;
      min-width: 100px;
      max-height: 100px;
      background-color: #dddddd47;
      overflow: hidden;
      text-align: center;
      border-radius: 3px;
  }
  .by-other {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 7px;
      margin-top: 6px;
  }
}

.widget-top-border {
    border-top: solid 2px #CD171F;
    margin-top: 1.2rem;
    padding-top: 1rem;
}

.related-topics-widget{
  .item {
    img{
      height: 113px;
      @include media-breakpoint-down(xs) {
        height: 100px;
      }
    }
    h4 {
      font-size: 0.8rem;
    }
    .label-txt{
      font-size: 0.6rem;
      color: #828282;
      @include media-breakpoint-down(xs) {
        font-size: 0.7rem;
      }
    }
  }
}

/*===============================================*/
// Large devices (desktops, less than 1200px)
/*===============================================*/
@include media-breakpoint-down(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, less than 992px)
/*===============================================*/
@include media-breakpoint-down(md) {

} /*//////////////////////////////////////*/




/*===============================================*/
// Small devices (landscape phones, less than 768px)
/*===============================================*/
@include media-breakpoint-down(sm) {
  .widget-top-border {
    &.no-md-top-border{
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
} /*//////////////////////////////////////*/


/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-down(xs) {

} /*//////////////////////////////////////*/






/*===============================================*/
// Extra small devices (portrait phones, less than 576px)
/*===============================================*/
@include media-breakpoint-up(sm) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Medium devices (tablets, 768px and up)
/*===============================================*/
@include media-breakpoint-up(md) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Large devices (desktops, 992px and up)
/*===============================================*/
@include media-breakpoint-up(lg) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1200px and up)
/*===============================================*/
@include media-breakpoint-up(xl) {

} /*//////////////////////////////////////*/


/*===============================================*/
// Extra large devices (large desktops, 1400px and up)
/*===============================================*/
@media (min-width: 1400px) {

} /*//////////////////////////////////////*/
