
/**
 *
 * @mainSection: Plugins;
 * @by : lakmal@fortunaglobal.com;
 *
 */

// img[data-src],
// img[data-srcset] {
//     display: block;
//     min-height: 1px;
// }

.no-js img.lazyload {
    display: none;
}
.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
img.lazyload:not([src]) {
    visibility: hidden;
}


.owl-carousel{
    @include media-breakpoint-up(md) {
        &:hover{
            .owl-nav{
                button.owl-prev, button.owl-next{
                    opacity: 1;
                    &.disabled{
                        opacity: 0.4;
                    }
                }
            }
        }
    }
    .owl-nav{
        button.owl-prev, button.owl-next{
            width: 1.8rem;
            height: 1.8rem;
            line-height: 1.9rem;
            position: absolute;
            top: 50%;
            margin-top: -0.9rem;
            background: #fff;
            @include transitionall(0.3s);
            @include media-breakpoint-up(md) {
                opacity: 1;
            }
            &:focus{
                outline: none;
            }
            &:after{
                content: '';
                color: #cd171f;
                text-align: center;
                font-size: 14px;
                font-family: $icon-font;
            }
            span{
                display: none;
            }
        }
        button.owl-prev{
            left: 10px;
            border-radius: 20px;
            &:after{
                content: '\f053';
            }
        }
        button.owl-next{
            right: 10px;
            border-radius: 20px;
            &:after{
                content: '\f054';
            }
        }
    }
}


.slick-prev:before, .slick-next:before{
	font-family: $icon-font;
	color: $theme-color-01;
}
.slick-prev{
	left: -10px;
	&:before{
		content: '\f104';
	}
}
.slick-next{
	right: -10px;
	&:before{
		content: '\f105';
	}
}


.bootstrap-datetimepicker-widget{
    .glyphicon{
        @extend .fa;
    }
    .glyphicon-chevron-left{
        @extend .fa-angle-left;
    }
    .glyphicon-chevron-right{
        @extend .fa-angle-right;
    }
    .table-condensed{
        @extend .table;
        >tbody{
            tr:last-child{
                td{
                    border-bottom: 0;
                }
            }
        }
    }
    table{
        td{
            &.active, &.active:hover{
                background-color: $theme-color-01;
                color: #fff !important;
            }
            span.active{
                background-color: $theme-color-01;
            }
            &.today:before{
                border-bottom-color: $theme-color-01;
            }
        }
    }

}


table.dataTable{
    margin-top:0 !important;
    margin-bottom: 0 !important;
    border-collapse: collapse !important;
}
div.dataTables_filter{
    margin-bottom: 0.75rem;
    label{
        margin-bottom: 0;
    }
    .form-control{
        height: 1.5rem;
        border-radius: 1.5rem;
        border: 1px solid $form-control-border-color;
    }
}
div.dataTables_wrapper{
    div.dataTables_length select{
        width: 60px;
    }
}
div.dataTables_length{
    display: inline-block;
    margin-left: auto;
    margin-bottom: 0.75rem;
    label{
        margin-bottom: 0;
    }
    select{
        height: 1.25rem;
        padding-top: 0;
        padding-bottom: 0;
        background: #0098d1;
        color: #fff;
        border-radius: 1rem;
        padding-left: 0.25rem;
        &:focus{
            background: #0098d1;
            color: #fff;
            box-shadow: none;
        }
    }
}
div.dataTables_paginate{
    display: inline-block;
}

div.dataTables_info, div.dataTables_paginate{
    padding-top: 0.5rem;
}
div.dataTables_info{
    display: none;
}
div.dataTables_paginate{
    .pagination{
        margin: 0;
        .page-item{
            margin-left: 0.25rem;
            &:first-child{
                margin-left: 0;
            }
            &.previous, &.next{
                .page-link{
                    width: auto;
                    padding: 0 0.25rem;
                    color: #0098d1;
                    font-size: $font-size-06;
                    &:hover, &.active{
                        background: transparent;
                    }
                }
            }
            &.active{
                .page-link{
                    color: #fff;
                    background: #0098d1;
                }
            }
            .page-link{
                color: #939598;
                text-align: center;
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                padding: 0;
                border-radius: 50%;
                border: 0;
                font-size: $font-size-main;
                @include transitionall(0.2s);
                &:focus{
                    box-shadow: none;
                }
                &:hover, &.active{
                    color: #fff;
                    background: #0098d1;
                }
            }
        }
    }
}



.ui-widget{
    padding: 0;
    &.ui-widget-content{
        border-color: $border-color-main;
    }

}
.ui-widget-header {
    border-color: $theme-color-01;
    background: $theme-color-01;
    color: #fff;
    font-weight: $font-weight-semibold;
}
.ui-dialog{
    .ui-dialog-titlebar{
        padding: 0.5rem 0.75rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .ui-dialog-title{
        margin: 0;
    }
    .ui-dialog-titlebar-close {
        color: #fff;
        text-shadow: none;
        background: darken($theme-color-01, 5);
        border: 0;
        margin: 0.1rem;
        padding: 0;
        width: 1.4rem;
        height: 1.4rem;
        top: 0;
        right: 0;
        border-radius: 3px;
        &:focus{
            outline: none;
        }
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1.4rem;
            height: 1.4rem;
            line-height: 1.4rem;
            text-align: center;
            margin: -0.7rem 0 0 -0.7rem;
            content: '\f00d';
            font-family: $icon-font;
            font-size: 0.7rem;
            font-weight: 400;
            @include transitionall(0.2s);
        }
    }
    .ui-dialog-content{
        padding: 0.75rem;
    }
    .ui-dialog-buttonpane{
        border-color: $border-color-main;
        margin-top: 0;
        padding: 0.5rem;
        button{
            @extend .btn;
            @extend .btn-sm;
            margin: 0 0 0 0.3rem;
            &:first-child{
                @extend .btn-primary;
                &:focus{
                    @include box-shadow(none);
                }
            }
            &:last-child{
                @extend .btn-light;
            }
        }
    }
}


.bootbox.modal{
    .modal-header{
        padding: 0.75rem;
        padding-bottom: 0;
        .modal-title{
            font-size: $font-size-04;
        }
    }
    .modal-body {
        padding: 0.75rem;
    }
    .modal-footer{
        padding: 0.75rem;
        border-top: 1px solid #ececec;
    }
}
