/**
 *
 * Saira
 *
 */
 @font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-ThinItalic.eot');
    src: url('#{$font-path}Saira-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-ThinItalic.woff2') format('woff2'),
        url('#{$font-path}Saira-ThinItalic.woff') format('woff'),
        url('#{$font-path}Saira-ThinItalic.ttf') format('truetype'),
        url('#{$font-path}Saira-ThinItalic.svg#Saira-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-LightItalic.eot');
    src: url('#{$font-path}Saira-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-LightItalic.woff2') format('woff2'),
        url('#{$font-path}Saira-LightItalic.woff') format('woff'),
        url('#{$font-path}Saira-LightItalic.ttf') format('truetype'),
        url('#{$font-path}Saira-LightItalic.svg#Saira-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-Regular.eot');
    src: url('#{$font-path}Saira-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-Regular.woff2') format('woff2'),
        url('#{$font-path}Saira-Regular.woff') format('woff'),
        url('#{$font-path}Saira-Regular.ttf') format('truetype'),
        url('#{$font-path}Saira-Regular.svg#Saira-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-Light.eot');
    src: url('#{$font-path}Saira-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-Light.woff2') format('woff2'),
        url('#{$font-path}Saira-Light.woff') format('woff'),
        url('#{$font-path}Saira-Light.ttf') format('truetype'),
        url('#{$font-path}Saira-Light.svg#Saira-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-SemiBold.eot');
    src: url('#{$font-path}Saira-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-SemiBold.woff2') format('woff2'),
        url('#{$font-path}Saira-SemiBold.woff') format('woff'),
        url('#{$font-path}Saira-SemiBold.ttf') format('truetype'),
        url('#{$font-path}Saira-SemiBold.svg#Saira-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-Medium.eot');
    src: url('#{$font-path}Saira-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-Medium.woff2') format('woff2'),
        url('#{$font-path}Saira-Medium.woff') format('woff'),
        url('#{$font-path}Saira-Medium.ttf') format('truetype'),
        url('#{$font-path}Saira-Medium.svg#Saira-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-ExtraLightItalic.eot');
    src: url('#{$font-path}Saira-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-ExtraLightItalic.woff2') format('woff2'),
        url('#{$font-path}Saira-ExtraLightItalic.woff') format('woff'),
        url('#{$font-path}Saira-ExtraLightItalic.ttf') format('truetype'),
        url('#{$font-path}Saira-ExtraLightItalic.svg#Saira-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-Thin.eot');
    src: url('#{$font-path}Saira-Thin.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-Thin.woff2') format('woff2'),
        url('#{$font-path}Saira-Thin.woff') format('woff'),
        url('#{$font-path}Saira-Thin.ttf') format('truetype'),
        url('#{$font-path}Saira-Thin.svg#Saira-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-Italic.eot');
    src: url('#{$font-path}Saira-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-Italic.woff2') format('woff2'),
        url('#{$font-path}Saira-Italic.woff') format('woff'),
        url('#{$font-path}Saira-Italic.ttf') format('truetype'),
        url('#{$font-path}Saira-Italic.svg#Saira-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-SemiBoldItalic.eot');
    src: url('#{$font-path}Saira-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-SemiBoldItalic.woff2') format('woff2'),
        url('#{$font-path}Saira-SemiBoldItalic.woff') format('woff'),
        url('#{$font-path}Saira-SemiBoldItalic.ttf') format('truetype'),
        url('#{$font-path}Saira-SemiBoldItalic.svg#Saira-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-MediumItalic.eot');
    src: url('#{$font-path}Saira-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}Saira-MediumItalic.woff') format('woff'),
        url('#{$font-path}Saira-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}Saira-MediumItalic.svg#Saira-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Saira';
    src: url('#{$font-path}Saira-ExtraLight.eot');
    src: url('#{$font-path}Saira-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Saira-ExtraLight.woff2') format('woff2'),
        url('#{$font-path}Saira-ExtraLight.woff') format('woff'),
        url('#{$font-path}Saira-ExtraLight.ttf') format('truetype'),
        url('#{$font-path}Saira-ExtraLight.svg#Saira-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

/**
 *
 * Ubuntu
 *
 */
 @font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-BoldItalic.eot');
    src: url('#{$font-path}Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-BoldItalic.woff') format('woff'),
        url('#{$font-path}Ubuntu-BoldItalic.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-LightItalic.eot');
    src: url('#{$font-path}Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-LightItalic.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-LightItalic.woff') format('woff'),
        url('#{$font-path}Ubuntu-LightItalic.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-Bold.eot');
    src: url('#{$font-path}Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-Bold.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-Bold.woff') format('woff'),
        url('#{$font-path}Ubuntu-Bold.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-MediumItalic.eot');
    src: url('#{$font-path}Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-MediumItalic.woff') format('woff'),
        url('#{$font-path}Ubuntu-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-Medium.eot');
    src: url('#{$font-path}Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-Medium.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-Medium.woff') format('woff'),
        url('#{$font-path}Ubuntu-Medium.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu.eot');
    src: url('#{$font-path}Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu.woff2') format('woff2'),
        url('#{$font-path}Ubuntu.woff') format('woff'),
        url('#{$font-path}Ubuntu.ttf') format('truetype'),
        url('#{$font-path}Ubuntu.svg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-Italic.eot');
    src: url('#{$font-path}Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-Italic.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-Italic.woff') format('woff'),
        url('#{$font-path}Ubuntu-Italic.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$font-path}Ubuntu-Light.eot');
    src: url('#{$font-path}Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Ubuntu-Light.woff2') format('woff2'),
        url('#{$font-path}Ubuntu-Light.woff') format('woff'),
        url('#{$font-path}Ubuntu-Light.ttf') format('truetype'),
        url('#{$font-path}Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}