/**
 *
 * SVG background images with PNG and retina fallback
 *
 */
$image-path: '../images' !default;
$fallback-extension: 'png' !default;
//$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});
        // @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        //     background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        // }
    }
}


/**
 *
 * Animations and keyframes
 *
 */
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}


//Usage
// @include keyframes(slide-down) {
//     0% { opacity: 1; }
//     90% { opacity: 0; }
// }
//
// .element {
//     width: 100px;
//     height: 100px;
//     background: black;
//     @include animation('slide-down 5s 3');
// }


/**
 *
 * Cross browser opacity
 *
 */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}




/**
 *
 * Transitions
 *
 */
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}



/**
 *
 * Transition All
 *
 */
 @mixin transitionall($delay){
    -webkit-transition: all $delay ease;
    -moz-transition: all $delay ease;
     -ms-transition: all $delay ease;
    -o-transition: all $delay ease;
    transition: all $delay ease;
 }



/**
 *
 * Box Shadow
 *
 */
@mixin box-shadow($shadow){
    -webkit-box-shadow:$shadow;
    -moz-box-shadow:$shadow;
    -ms-box-shadow:$shadow;
    -o-box-shadow:$shadow;
    box-shadow:$shadow;
}



/**
 *
 * Text Shadow
 *
 */
@mixin text-shadow($shadow){
    -webkit-text-shadow:$shadow;
    -moz-text-shadow:$shadow;
    -ms-text-shadow:$shadow;
    -o-text-shadow:$shadow;
    text-shadow:$shadow;
}


/**
 *
 * Background SIze
 *
 */
@mixin background-size($size){
    -webkit-background-size:$size;
    -moz-background-size:$size;
    -ms-background-size:$size;
    -o-background-size:$size;
    background-size:$size;
}




/**
 *
 * Border Radius
 *
 */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}




/**
 *
 * Transform
 *
 */
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}


/**
 *
 * Filter
 *
 */
@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -o-filter: $value;
    filter: $value;
}


/**
 *
 * Box Sizing
 *
 */
@mixin box-sizing($box-sizing) { // content-box|border-box|initial|inherit
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    -ms-box-sizing: $box-sizing;
    -o-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}



@mixin linear-gradient($direction, $color-stops...) {
    // Direction has been omitted and happens to be a color-stop
    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}



@mixin app-gradient{
    // background: -moz-linear-gradient(circle, #d71a21, #cb171d, #bf141a, #b31116, #a70e13);
    // background: -webkit-linear-gradient(circle, #d71a21, #cb171d, #bf141a, #b31116, #a70e13);
    // background: radial-gradient(circle, #d71a21, #cb171d, #bf141a, #b31116, #a70e13);
}
