/**
 *
 * Font Families
 *
 */


$font-01 : 'Saira', Helvetica, sans-serif;
$font-02 : 'Ubuntu', Helvetica, sans-serif;

$icon-font  : 'FontAwesome'; // themify, FontAwesome



/**
 *
 * Theme Colors
 *
 */
$theme-color-01 : $primary;
$theme-color-02 : #CD171F;

/**
 *
 * Font Colors
 *
 */
$font-color-main : #333333;
$font-color-table : #231F20;

$link-color-main : #2f80ed;
$link-color-hover : darken(#2f80ed, 5);


/**
 *
 * Button Colors
 *
 */
$btn-color-primary : $primary;
$btn-color-primary-hover : darken($primary, 5);
$btn-box-shadow : 0 4px 6px -1px rgba(11, 6, 6, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
/**
 *
 * Font Sizes
 *
 */
$font-size-main : 0.75rem;
$font-size-01 : 1.8rem;
$font-size-02 : 1.6rem;
$font-size-03 : 1.4rem;
$font-size-04 : 1rem;
$font-size-05 : 0.8rem;
$font-size-06 : 0.6rem;
$font-size-07 : 0.5rem;


/**
 *
 * Font Weight
 *
 */
$font-weight-thin : 100;
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-semibold : 500;
$font-weight-bold : 600;
$font-weight-exbold :700;



/**
 *
 * Default Font Settings
 *
 */
$line-height-main : 1.6;
$letter-spacing-main : normal;
$border-color-main : #e8e8e8;
$border-color-table : #e8e8e8;
$border-color-secondary : #c7c7c7;


/**
 *
 * Social media variable
 *
 */

$facebook-color: #3b5998;
$twitter-color: #55acee;
$linkedin-color: #007bb5;
$skype-color: #12a5f4;
$googleplus-color: #dd4b39;
$youtube-color: #bb0000;
$instagram-color: #e95950;
$behance-color: #1769ff;
$pinterest-color: #cb2027;
$whatsapp-color: #4dc247;
$viber-color: #202BA6;


/**
 *
 * Layout variable
 *
 */

$header-height: 4.3rem;
$header-height-mobile: 1.7rem;
$sidebar-width: 290px;

/**
 *
 * Form variable
 *
 */
$form-label-color: #58595b;
$form-control-height: 1.8rem;
$form-control-lg-height: 2.2rem;
$form-control-color: $font-color-main;
$form-control-ph-color: #a9a9a9;
$form-control-padding-x: 0.75rem;
$form-control-padding-x-disabled: 0.75rem;
$form-control-border-color: #e8e8e8;
$form-control-border-color-rounded: #e8e8e8;
